.container {
    transition: transform 0.3s;
    display: flex;
    width: max-content;
}

.window {
    overflow-x: hidden;
    width: 100%;
    box-sizing: border-box;
}

.container > * {
    flex: 0 0 auto;
}

.showClipped {
    overflow-x: visible;
}